[submodule "dependencies/sky130_am_ip__ldo_01v8"]
	path = dependencies/sky130_am_ip__ldo_01v8
	url = ../sky130_am_ip__ldo_01v8.git
[submodule "dependencies/sky130_ak_ip__cmos_vref"]
	path = dependencies/sky130_ak_ip__cmos_vref
	url = ../sky130_ak_ip__cmos_vref.git
[submodule "dependencies/sky130_sw_ip__bgrref_por"]
	path = dependencies/sky130_sw_ip__por
	url = ../sky130_sw_ip__por.git
[submodule "dependencies/sky130_ef_ip__analog_switches"]
	path = dependencies/sky130_ef_ip__analog_switches
	url = ../../RTimothyEdwards/sky130_ef_ip__analog_switches.git
[submodule "dependencies/sky130_cw_ip"]
	path = dependencies/sky130_cw_ip
	url = ../sky130_cw_ip.git
